.summer2022-poster{
  margin-bottom: 112px;
  overflow: hidden;
  position: relative;
  .swiper{
    position: relative;
    padding-bottom: 30px;
  }
  .swiper-pagination{
    bottom: 6px;
  }
  .swiper-pagination-bullet{
    background-color: #FFDDC0;
    width: 12px;
    height: 12px;
    &-active{
      background-color: #FD7400;
    }
  }
  @include r(767){
    margin-bottom: 38px;
  }
}